{% extends "dashboard.html" %}
{% load static %}
{% load bootstrap4 %}
{% block dashboard %}
<style>
    
        
    .w{
            background: url("{% static 'images/fl.jpg' %}"); background-size: 100% 100%; border: solid 2px black;
        }
</style>
<div class="container-fluid w">
    <div class="row">
        <div class="col-md-6 mx-auto  my-4  shadow shadow-lg text-white " 
        style="border:2px solid red; box-shadow: 0px 0px 10px yellow; ">
            <h1 class="text-center mt-3">Add Courses</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Add course" class="btn btn-success">
            </form>

        </div>
    </div>

</div>
{% if status %}
<script>
    alert("{{status}}");
    </script>
{% endif %}


{% endblock %}