{% extends "base.html" %}
{% load static %}
{% block headblock %}
    <style>
        .bg{
            background: url("{% static 'images/fl.jpg' %}"); background-size: 100% 100%;
        }
        .inside{
            position: absolute;width: 70%;height: 30%;
        }
        .out{
            position: relative;margin-left: 65%;margin-top: 2.5px;
        }
        .bg1{
            background: rgba(0,0,0,0.1);
        }
        .z{
            position:relative; background-color: #4caf50;
            border-radius: 0 5px 5px 0;
            color:white; padding: 15px; border:none; float: right;
           
        } 
        .v{
            float: right;
        }
        .hover:hover{
            box-shadow: 0px 0px 20px yellow ; padding: 10px;
        }
        </style>
{% endblock %}
{% block myblock %}
<div class="container-fluid">
        <div class="row text-white bg " style="padding: 60px 0px;">
            <div class="col-md-6 px-5">
                <!-- <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-2">  
                    <li class="breadcrumb-item "><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Page</a></li>
                    <li class="breadcrumb-item"> <a href="#">Contact</a></li>
                  </ol> -->
                  {% if abcd %}
                  <h1 style="font-style: italic; text-align: center;">Total ({{courses|length}})Result match</h1>
                  {% else %}
                  <h1 style="font-style: italic;text-align: center;">All Courses ({{courses|length}})</h1>
                  {% endif %}
                  <!-- <p> <span class="text-success">6,178</span> courses found</p> -->
                </div>
                </div>          
            
        </div>

    
                    <!-- <select class="form-control" style="display: inline-block; width: 35%;">
                        {% for c in category %}
                        <a href="">{{c.cat_name}}</a>
                        {% endfor %}
                    </select>
                    <select class="form-control" style="display: inline-block; width: 35%;">
                    <option>FILTERS</option>
                    <option>BEST SELLING</option>
                    <option>TRENDING</option>
                    <option>NEWEST</option>
                    <option>TOP RATED</option>
                    <option>HIGH PRICE</option>
                    <option>LOW PRICE</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 my-5 mx-auto">
                <div>
                    <select class="form-control" style="display: inline-block; width: 35%;">
                        <option>ITEM PER PAGE</option>
                        <option>4</option>
                        <option>8</option>
                        <option>12</option>
                        <option>16</option>
                        <option>20</option>
                        <option>24</option>
                    </select>
                       <div class="form-control" style="display: inline-block; width: 15%;">
                        <i class="fas fa-th-large"></i> <i class="fas fa-bars"></i>
                        </div>
                    
                       
                </div> --> 
    <!-- <div class="col-md-12  text-center font-weight-bold">
        
    </div> -->
    <div class="container-fluid">
        <div class="row ">
            {% for i in courses %}
            <div class="col-md-4 p-5" >
                <div class="card shadow shadow-lg">
                <div class="card-header">
                <div style="border:1px solid red" class="p-1 hover">
                    <img src="/media/{{i.course_image}}" height="200" width="100%">
                </div>
                </div>
                <div class="card-body" style="background: white;">
                    <h3 style="color:red;"><a href="{% url 'singal' %}?cid={{i.id}}">{{i.course_name}}</a></h3>
                    <p class="card-text" ><i class="far fa-user"></i>{{user.username}}</p>
                    <p><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>

                    <h4>
                        <div class="card-footer" style="background:white">
                        <span style="color:tomato"><del>&#8377;{{i.course_price}}</del></span>
                        
                        <span>&#8377;{{i.sale_price}}</span>
                                        </h4>
                                        <h3 class="text-danger">{{i.course_category.cat_name}}</h3>
                </div>
                <div class="card-footer">
                <form action="{% url 'add_to_cart' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{i.id}}" name="cid">
                    <input type="hidden" value="1" name="qty">
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fa fa-shopping-cart text-danger"></i>
                        Add To Cart
                    </button>
                </form>
            </div>
            </div>
            <!-- <form action="" method="post">
                           </form> -->
            </div>
            
            {% endfor %}
        </div>
    
          <!-- <div class="container-fluid bg1">
          <div class="row">
            <div class="col-md-4 my-5">
                <div class="card-header">
                    <img src="{% static 'images/c7.1.jpg' %}" class="card-img" alt="" style="height: 300px;">
                </div>
                <div class="card-body" style="background: white;">
<h3 class="card-title">To Know About Python</h3>
<p class="card-text" ><i class="far fa-user"></i> Andrew Mead</p>
<p><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
                </div>
                <div class="card-footer" style="background:white">
                    <h2 style="color:green; float:right;">$180</h2>
                    <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                    <p> <i class="far fa-clock"></i> 27.5 hours</p>
                    
                </div>
            </div>
            <div class="col-md-4 my-5">
                <div class="card-header">
                    <img src="{% static 'images/2.jpg' %}" class="card-img" alt="" style="height: 300px;">
                </div>
                <div class="card-body" style="background: white;">
<h3 class="card-title">Lets Design The Pages</h3>
<p class="card-text" ><i class="far fa-user"></i> Andrew Mead,John Deo</p>
<p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>

                </div>
                <div class="card-footer" style="background: white;">
                    <h2 style="color:green; float:right;">$10</h2>
                    <p><i class="fas fa-headphones-alt"></i> 46 lectures</p>
                    <p><i class="far fa-clock"></i> 27.5 hours</p>
                    
                </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="card-header">
                        <img src="{% static 'images/3.jpg' %}" class="card-img" alt="" style="height: 300px;">
                    </div>
                    <div class="card-body" style="background: white;">
    <h3 class="card-title">Design The Page By Writing</h3>
    <p class="card-text"> <i class="far fa-user"></i> Anthony Broks</p>
    <p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
                    </div>
                    <div class="card-footer" style="background: white;">
                        <h2 style="color:green; float:right;">$375</h2>
                        <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                        <p> <i class="far fa-clock"></i> 27.5 hours</p>
                        
                    </div>
                    </div>
        </div>
        <div class="row">
        <div class="col-md-4 my-5">
            <div class="card-header">
                <img src="{% static 'images/6.jpg' %}" class="card-img" alt="" style="height: 300px;">
            </div>
            <div class="card-body" style="background: white;">
<h3 class="card-title">Layout The Design</h3>
<p class="card-text"> <i class="far fa-user"></i> Asif vai</p>
<p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
            </div>
            <div class="card-footer" style="background: white;">
                <h2 style="color:green; float:right;">$180</h2>
                <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                <p> <i class="far fa-clock"></i> 27.5 hours</p>
    </div>
    </div>
    <div class="col-md-4 my-5">
        <div class="card-header">
            <img src="{% static 'images/4.jpg' %}" class="card-img" alt="" style="height: 300px;">
        </div>
        <div class="card-body" style="background: white;">
<h3 class="card-title">Enhance HTML Pages</h3>
<p class="card-text"> <i class="far fa-user"></i> Harry Poter</p>
<p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
        </div>
        <div class="card-footer" style="background:white">
            <h2 style="color:green; float:right;">$249</h2>
            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
            <p> <i class="far fa-clock"></i> 27.5 hours</p>
    </div>
    </div>
    <div class="col-md-4 my-5">
        <div class="card-header">
            <img src="{% static 'images/7.jpg' %}" class="card-img" alt="" style="height: 300px;">
        </div>
        <div class="card-body" style="background: white;">
<h3 class="card-title">A High Level Language</h3>
<p class="card-text"> <i class="far fa-user"></i> Jonathan Deo</p>
<p> <i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i><i class="fas fa-star" style="color: yellow;"></i> 5 (4578)</p>
        </div>
        <div class="card-footer" style="background: white;">
            <h2 style="color:green; float:right;">Free</h2>
            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
            <p> <i class="far fa-clock"></i> 27.5 hours</p>
     </div>
     </div>
     </div> -->
     <div class="row ">
         <div class="col-md-12 text-center">
            <button  class="btn btn-outline-success"><</button>
             <button  class="btn btn-outline-success">1</button> 
             <button  class="btn btn-outline-success">2</button>
              <button  class="btn btn-outline-success">3</button> 
              <button  class="btn btn-outline-success">4</button>
               <button  class="btn btn-outline-success">...</button>
                <button  class="btn btn-outline-success">32</button>
                 <button  class="btn btn-outline-success">&gt;</button>
         </div>
     </div>
        
     </div>

{% endblock %}