<!DOCTYPE html>
{% load static %}
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIONEER</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   
    <link rel="stylesheet" href="{% static 'icon/css/all.min.css' %}">

 
<head>
   

    <style>
        
                      
        body{
            padding: 0px;
            margin: 0px;
        }
      .header{
          text-align: center;
          line-height: 50px;
          color:white;
      }
      a{
          color:gray;   
      }
      a:hover{
        text-decoration: none;
        color:green;
      }
      #nav{
          position:sticky;
          top:0%;
         }
    
         h5{
            border-bottom:3px solid #4caf50;
             margin-bottom: 50px;
             padding:  20px 0; color:white;
             }
       
     .footer{
         background-color: rgba(0, 0, 0, 1);
            color:white;
           
            height:100px;
            Width:100%;
            line-height:100px;
        }
         
        .z{
            position:relative; background-color: #4caf50;
            border-radius: 0 5px 5px 0;
            color:white; padding: 15px; border:none; float:right;
           
        } 
       .icon i{
            padding:10px;
            background-color:darkgray;
            border-radius: 50%; color:white;
        }
        .icon i:hover{
            background-color:#4caf50;
        }
        i{
            padding:5px; font-size:20px ;
            color:darkgray
        }
          
          .page{
              word-spacing: 10px;
          }
          .var{
              margin-bottom: 107px; border:none;
          }
          .z{
              margin-bottom: 107px;padding: 10px;
          }
          .icons i{
            padding:10px;
            background-color:darkgray;
            border-radius: 50%; color:white;
        }
        .icons i:hover{
            background-color:#4caf50;;
        }
      .page a:hover{
        background-color:red;;
      }
      .navbar-toggler-icon{
          font-size: 1.25rem;
          line-height:1 ;
          background-color:red;
          border: 1px solid black;
          border-radius: .25rem;
          height: 5px;
          display: block;
          width:20px;

      }
      .navbar-toggler1{
          padding: 0;
          margin-right: 10px;
      }
    </style>
    {% block headblock %}

    {% endblock %}


</head>
<body>
   <div class="container-fluid">
       <div class="row header bg-dark">
       <div class="col-sm-5">
       <nav>
        <i class="far fa-envelope"></i>
           <a href="">support@pioneerpython.com</a>
           <i class="fas fa-headphones"></i>
           <a href="">+8356896453475</a>
       </nav>
       <!-- <button class ="navbar-toggler" data-toggle="collapse" data-target="#abcd">
        <span class="navbar-toggler-icon"></span>
        </button> -->

       </div>
        <div class="col-md-3 ">
            <div class="icon">
            <ul class="list-inline mb-0 ">
                <li class="list-inline-item ">
                  <a class="  bg-primary p-2 text-white  rounded-circle btn btn-facebook
                   iconbox iconbox-sm"
         href="http://facebook.com">
      <i class="fab fa-facebook-f"></i>
  </a>
                </li>
                <li class="list-inline-item">
                  <a class="bg-info p-2 btn btn-twitter rounded-circle text-white iconbox 
                  iconbox-sm hover:info"href="http://twitter.com">
                    <i class="fab fa-twitter-square" ></i>
                </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-google iconbox p-2 iconbox-sm bg-danger text-white rounded-circle hover:danger"href="http://google.com">
                    <i class="fab fa-google"></i>
            
                </a> 
                </li>
                <li class="list-inline-item">
                  <a class="bg-primary p-2 btn btn-pinterest iconbox text-white iconbox-sm hover-danger rounded-circle"href="http://pinterest.com">
                    <i class="fab fa-pinterest-p" ></i>
                    </a>
                    </li>
                
              </ul>
                    
       </div>
       </div>
        <div class="col-sm-4 page ">
            {% if user.is_authenticated %}
            <a  class ="text-white btn btn-outline-warning"
            href=" {% url 'student' %}" >Wellcome  {{user.username}}</a>
            <a class="text-white btn btn-outline-warning" href="{%  url 'user_logout' %}" >LOG OUT</a>
            <!-- <button type="button" class="navbar-toggler" data-toggle="collapse" 
            data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button> -->

            {% else %}
           <a  class ="text-white btn btn-outline-warning"href="{% url 'login' %}" >Login</a>
           <a class="text-white btn btn-outline-warning" href="{%  url 'Registration' %}" >Register</a>
           
    </div>
    {% endif %}


   </div>
</div>
   <div class="container-fluid">         
    <div class="row" id="nav">
        <div class="col-md-12 px-0" >
            <nav class="sticky-top navbar navbar-expand-md  bg-white " >
                <!-- <button class="navbar-toggler1" type="button" data-toggle="collapse"
                 data-target="#navbarToggleExternalContent" 
                 aria-controls="navbarToggleExternalContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                    <span  class="navbar-toggler-icon"></span>
                    <span  class="navbar-toggler-icon"></span>
                    <span  class="navbar-toggler-icon"></span>
                  </button> -->
                   <button type="button" class="navbar-toggler btn btn-outline-success" data-toggle="collapse" 
            data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button> 

               <a href="#" class="navbar-brand">
       <img src="{% static 'images/loggo1.jpg' %}" style="background: rgba(255, 255, 255, 0.9);">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
                  <a href="{% url 'home' %}" class="nav-item nav-link active text-dark">Home</a>
                  <a href="{% url 'first' %}" class="nav-item nav-link active text-dark">About</a>
                  <a href="{% url 'contactus' %}" class="nav-item nav-link active text-dark">Contact Us</a>
                  <a href="{% url 'all' %}" class="nav-item nav-link active text-dark">All Courses</a>
                  <!-- {% if user.is_staff%}
                  <a href="{% url 'instructer' %}" class="nav-item nav-link active text-dark">Instructor Profile</a>
                  {% endif%}
                  {% if not user.is_staff%}
                  <a href="{% url 'student' %}" class="nav-item nav-link active text-dark">Student Profile</a> -->
                  <a href="{% url 'add_to_cart' %}"><i class="fas fa-shopping-cart" style="font-size:30px" aria-hidden="true"></i></a>
                  <a href="{% url 'home' %}"><i class="fas fa-search"style="font-size:30px" aria-hidden="true"></i></a>
                  {% endif%}

                  <!-- <a class="nav-item nav-link active text-dark" href="{%  url 'Registration' %}" >Register</a>

                  <!-- <a href="{% url 'singal' %}" class="nav-item nav-link active text-dark">Single Course</a> -->
                  <!-- <a href="{% url 'instructer' %}" class="nav-item nav-link active text-dark ">Instructer Profile</a> -->
                  
                  
                  <!-- <a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  <a href="search.html"><i class="fa fa-search" aria-hidden="true"></i></a> --> 
        </div>
        
    </div>
</nav>
   </div>
    </div>
   </div>
   {% block myblock %}
   {% endblock %} 
 
         
 <div class="container-fluid text-muted px-0 mx-0" style="background:rgba(0, 0, 0, 0.9);">
     <div class="row">
         <div class="col-md-3">
             <h5>Pioneer Python</h5>
             <p class="text-justify">The Pain you feel today is the strength you will feel tomrrow.for every challange encountered there is opporunity for growth. </p>
                <div class="icon">
                    <ul class="list-inline mb-0 ">
                        <li class="list-inline-item text-dark">
                          <a class="  bg-primary p-2 text-white  rounded-circle btn btn-facebook
                           iconbox iconbox-sm"
                 href="http://facebook.com">
              <i class="fab fa-facebook-f"></i>
          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="bg-info p-2 btn btn-twitter rounded-circle text-white iconbox 
                          iconbox-sm hover:info"href="http://twitter.com">
                            <i class="fab fa-twitter-square" ></i>
                        </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="btn btn-google iconbox p-2 iconbox-sm bg-danger text-white rounded-circle hover:danger"href="http://google.com">
                            <i class="fab fa-google"></i>
                    
                        </a> 
                        </li>
                        <li class="list-inline-item">
                          <a class="bg-primary p-2 btn btn-pinterest iconbox text-white iconbox-sm hover-danger rounded-circle"href="http://pinterest.com">
                            <i class="fab fa-pinterest-p" ></i>
                            </a>
                            </li>
                        
                      </ul>
                    
                </div>  
                </div>
           <div class="col-md-3">
               <h5>Contact Us</h5>
                  <a href=""><i class="fas fa-headphones"></i>800 579.987.579</a><br/>
                   <a href=""><i class="far fa-envelope"></i>support@pioneerpython.com</a >
                     <p><i class="fas fa-map-marker-alt"></i>C-86, Phase 7, Industrial Area, Sector 74, Sahibzada Ajit Singh Nagar, Punjab 160055
                        <br/>
</p>                        
           </div>
             <div class="col-md-3">
                 <h5>Quick links</h5>
                 <p><a href="{% url 'home' %}">Home</a></p>
                 <p><a href="{% url 'first' %}">About </a></p>
                 <p><a href="{% url 'contactus' %}">Contact Us</a></p>
                 <p><a href="{% url 'all' %}">All Courses</a></p>
                 <!-- <p><a href="{% url 'singal' %}">Single Course</a></p> -->
   
             </div>
               <div class="col-md-3">
                    <h5>Newslatter</h5>
                    <p>Subscribe to get update and information.<br/>Don't worry, we won't send spam!</p>
                  <form class="var">
                    <input  type="text" placeholder="Enter your email" 
                    style="padding:8px;  
                    position: absolute; width: 80%">
                    <button class="  z btn btn-success ">Subscribe</button>
                </form> 
                </div>
               </div>
            </div>
        
        <div class="container-fluid footer mx-0 px-0">
            <div class="col-md-12 align-center">
                <div class="footer text-center">& copyright 2020 .All rights reserved</div>
            </div>
        </div>
        
        
    
    
    
        
               
 
</body>
</html>