{% extends "base.html" %}
{% load static %}

{% block headblock %}
<style>
    .cart td{
        width:20%;
    }
</style>


{% endblock %}
{% block myblock %}
{% if not user.is_authenticated%}
<h1 class="jumbotron shadow shadow-lg text-center  text-warning bg-danger"
style="border: 2px solid yellow; font-weight: bold;">{{status}}</h1>

{%else%}


{% if user.is_superuser %}
<h1 class="jumbotron shadow shadow-lg text-center  text-warning bg-danger"
style="border: 2px solid yellow; font-weight: bold;">SORRY YOU ARE NOT ALLOWED HERE</h1>
{% else %}
{% if  items|length == 0 %}
<div class="container-fluid ">


    <h1 class="jumbotron shadow shadow-lg text-center  text-warning bg-danger"
style="border: 2px solid yellow; font-weight: bold;">YOUR SHOPPING CART IS EMPTY </h1>


</div>
{% else %}
<div class="container-fluid mb-5 px-0 " style="background: url('/static/images/dp.jpg');
 background-size: 100% 100%;">
    <div class="row px-0 py-5 ">
        <div class="col-md-12 px-0 text-center text-light font-weight-bold text-uppercase">
            
            {% if status %}
              <h1>{{status}}</h1>          
            {% else %}
              <h1 style="border: 2px solid red; width: 50%; color: yellow; " class=" mx-auto 
              shadow shadow-lg" >MY CART ({{items|length}})</h1>
            {% endif %}
        </div>
    </div>

</div>
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-md-9  my-5 ">
            <div style="box-shadow: 0px 0px 10px red;">
            {% if msz %}
            <div class="{{cls}} mt-3">{{msz}}</div>
            {% endif %}
            <table class="table cart">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Course Name</th>
                        <th>Course Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                    <tr id="row{{i.id}}">
                        <td><img src="/media/{{i.course.course_image}}" height="100" width="150"></td>
                        <td>{{i.course.course_name}}</td>
                        <td>&#8377;<del id="cp{{i.id}}">{{i.course.course_price}}</del> &#8377; 
                            <span id="sp{{i.id}}"> {{i.course.sale_price}}</span></td>
                        <td>
                            <div class="row">
                                <div class="col-md-3">
                                    <i class="fa fa-plus bg-danger p-1 text-light rounded-circle"
                                     onclick="change_quan('{{i.id}}','plus')"></i>                                        
                                </div>
                            
                            
                                <div class="col-md-6">
                                    <input type="number" value="{{i.quantity}}"  
                                    id="cart{{i.id}}" class="form-control">

                                </div>
                            
                                <div class="col-md-3">
                                    <i class="fa fa-minus bg-success p-1 text-light rounded-circle"
                                    onclick="change_quan('{{i.id}}','minus')"></i>


                                
                            </div>
                                                     
                        </td>
                        <td><button onclick="remove_cart('{{i.id}}')" class="btn btn-danger">
                            &times;Remove</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        
        <div class="col-md-3 my-5 " >
                <div style="box-shadow: 0px 0px 8px red;">
                    <h2 class="text-center">CHECKOUT</h2>
                    <table class="table">
               <tr>
                    <td>TOTAL ITEM</td>
                    <td id="item_total"></td>
                </tr>
                <tr>
                    <td>OFFERED PRICE</td>
                    <td id="disc"></td>
                </tr>
                <tr>
                    <td>QUANTITY</td>
                    <td id="quantity"></td>
                </tr>
                <tr>
                    <td>YOU SAVED</td>
                    <td id="offer"></td>
                </tr>
                <tr>
                    <td>DELIVERY</td>
                    <td>FREE</td>
                </tr>
                <tr>
                    <td>GRAND TOTAL</td>
                    <td id="grand_total"></td>
                </tr>

            </table>
            <div class="p-3">
                <a href="{% url 'process_payment' %}"class=" btn btn-warning btn-block ">
                    PROCEED TO PAY  <span id="btamt"></span></a>
            </div>
        </div>
        
       
    </div>
</div>
</div>
<script>
    function grandTotal(){
        $.ajax({
            url:"{% url 'get_cart_data' %}",
            type:'get',
            success:function(data){
                p = Math.round(100-((data.offer/data.total)*100),2)
                save = data.total-data.offer;
                $("#item_total").html("&#8377;"+data.total*data.quan);
                $("#disc").html("&#8377;"+data.offer*data.quan);
                $("#offer").html("&#8377;"+save+"<span class='text-success'> ("+p+"%)</span>");
                $("#grand_total").html("&#8377;"+data.offer);
                $("#quantity").html(data.quan+" Items");
                $("#btamt").html ("&#8377;"+data.offer);
            }
        })
    }
    grandTotal();
    function change_quan(id,action){
        let old = $("#cart"+id).val();
        
        quan = 0 
        if(action=="plus"){
            quan += parseInt(old)+1
        }else{
            quan += parseInt(old)-1
        }
        $("#cart"+id).val(quan);
        $.ajax({
            url:"{% url 'change_quan' %}",
            type:"get",
            data:{pid:id,quantity:quan},
            success:function(data){
                grandTotal();
                if(data==0){
                    remove_cart(id);
                }
                // n = $("#cp"+id).html()*quan;
                // ns = $("#sp"+id).html()*quan;
                // $("#cp"+id).html(n)
                // $("#sp"+id).html(ns)

            }

        })
    }
    function remove_cart(id){
        $.ajax({
            url:"{% url 'change_quan' %}",
            data:{delete_cart:id},
            success:function(data){
                grandTotal();
                $("#row"+id).hide();            
            }    
        })
    }
    
</script>

{% endif %}
    {% endif %}
{% endif %}
{% endif %}
{% endblock %}

