{% extends "base.html" %}
{% load static %}
{% block myblock %}
<style>
    .bg{
         background-image:url("{% static 'images/pen.jpg' %}");
         background-repeat: no-repeat; background-size: 100% 100%; height:200px;
         color:white;padding-left: 40px;
     }
     h2{
         padding-left: 60px; 
     }
     .ab{
       color:white;padding-left:60px;
     }
     .ab:hover{
         text-decoration: none; color:limegreen;
     }
     .link{
         color:black;
       
     }
   h1{
       text-align: center; margin-bottom: 40px; color:limegreen;margin-top: 40px;
   }
.abcd{
           background:limegreen;border-radius: 50%;padding: 30px;font-size: 26px;
           color: white;
       }
       .abcdef{
         text-align:center; padding-top: 20px;
       }
       .abcde{
         padding-top: 25px;
       }
       .i{
        width: 90%;height:25px;padding:20px ;margin-left: 0px;
       }
 </style>
<div class="container-fluid">
    <div class="row bg">
        <div class="col-md-12 py-5">
            <h2 class="text-white mx-auto ">
                Contact Us
              </h2>
              <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-2">  
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Page</a></li>
                <li class="breadcrumb-item">Contact us</li>
              </ol>
                  </div>
    </div>
</div>
<div class="container" style="padding-top:150px; padding-bottom: 100px;">
    <div class="row pb-3">
       <div class="col-md-4 text-center">
            <i class="fas fa-mobile-alt abcd"></i>
            <h4  class="abcde">1-800-643-4500</h4>
            <p  class="abcdef">call us (8AM-10PM)</p>
       </div>
       <div class="col-md-4 text-center">
            <i class="far fa-envelope abcd"></i>
            <h4 class="abcde"><a href="" class="link">simarjitkaur2512@gmail.com</a></h4>
            <p  class="abcdef">call us (8AM-10PM)</p> 
       </div>
       <div class="col-md-4 text-center">
            <i class="fas fa-map-marker abcd"></i>
            <h4  class="abcde">New York Avenue, USA</h4>
            <p  class="abcdef">Unit 25 Suite 3, 925 Prospect
       </div>
    </div>
</div> 
<div class="container-fluid bg-light" style="width:80%">
    <div class="row">
        <div class="col-md-12">
            <h1 style="border:2px solid red; box-shadow: 0px 0px 10px yellow; padding: 4px; font-weight: bold;" >Send Message</h1>
        </div>
<div class="col-md-6 pt-5">                 
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.05628356322!2d76.6
924771151311!3d30.716818081642725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1583087112111!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
                    <div class="col-md-6 ">
                        <form action="" method="post">
                            {% csrf_token %}
                        <div class="form-group pt-5">
                            <label>Enter Your Name</label>
                            <input type="text" name="name" placeholder=" Enter Your Name"  required class="form-control i ">
                            </div>
                        <div class="form-group ">
                            <label>Enter Your Email</label>
                                <input type="email" name="email" placeholder=" Enter Your Email" class="form-control i">
                                </div>
                                <div class="form-group ">
                                    <label>Enter Your Contact</label>
                                    <input type="Contact" name="contact" placeholder="Enter Your Contact Number" 
                                    class="form-control i">
                                    </div>
                            <div class="form-group" >
                                <label>Message</label>
                                        <textarea id="" rows="7" name="message" placeholder="Message"class="form-group i " style="height:150px;width:90%;"></textarea>
                                        </div>
                             <div class="form-group p-2 ">
                                         <input type="submit" value="Send Message" class="btn  btn-success ">
                                </div>
                            </form>
                    </div>
                        </div>
                    </div>
                    
    {% if status %}                
    <script>
        alert("{{status}}");
    </script> 
    {% endif %}                    

{% endblock %}


