{% extends "base.html"%}
{%load static%}
{%block myblock%}

{% if user.is_superuser %}
<style>
    .bg{
        background:url(/static/img/c1.3.jpg); background-size: 100% 100%;
    }
    .collapse navbar-collapse  a:hover {
  color: #f1f1f1;
}

</style>
<div class="container">
    <div class="row bg-danger p-5 mt-2  mb-4 shadow shadow-lg" style="font-style:italic;  box-shadow: 0px 0px 10px black; text-shadow:red;font-family: Arial, Helvetica, sans-serif;">
        <div class="col-md-12 shadow shadow-lg">
            <div class="jumbotron bg-warning">
                <h1 class="text-dark text-center">Sorry Mr/Mrs {{user.username}} You are not allowed here</h1>
            </div>
        </div>
    </div>
</div>{% else %}
<div class="container-fluid bg" >
    <div class="row bg text-dark">
        <!--left side menu-->
        <div class="col-md-2 bg-dark" id="main"style=" background: linear-gradient(red,yellow);">
             
                
            
            <nav class="navbar navbar-dark text-dark sticky-top">
               
                <a href="" class="navbar-brand  text-center mx-auto text-dark"></a>
                    <button type="button" class="navbar-toggler btn btn-outline-success" 
                    data-toggle="collapse" 
                    data-target="#nv">
                        <span class="navbar-toggler-icon mee"></span>
                        <span class="navbar-toggler-icon mee"></span>
                        <span class="navbar-toggler-icon mee"></span>
                        <span class="navbar-toggler-icon mee"></span>
                    </button>
                                    
                
                
                 <div class="text-dark" style="color:black;">
                  {% if data.profile_pic %}
                      <img src="/media/{{data.profile_pic}}" style="height:50px; width:50px;
                      border-radius:50%;">
                  {% else %}
                    <img src="{% static 'images/user.jpg'%}" style="height:50px; width:50px;
                    border-radius:50%;">
                  {% endif %}
                 </div>
                 <p class="text-center">{{user.username}}</p>
                </a>

                 

                 <div class="collapse navbar-collapse me1 text-dark " id="nv">
                
                 <ul class="navbar-nav text-dark">
                      
                   
                    
                    <li class="nav-item ">
                        <a href="{% url 'add_to_cart'%}" class="nav-link text-dark"> <i class="fas fa-shopping-cart"></i>My Cart</a>

                    </li>
                    <li class="nav-item">
                        <a href="{% url 'order_history'%}" class="nav-link text-dark"><i class="fas fa-folder-plus"> </i>Order History</a>

                    </li>
                    
                    
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'addcourse' %}" class="nav-link text-dark"> <i class="fas fa-book-reader"></i>Add Course</a>
                        
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'mycourse' %}" class="nav-link text-dark"> <i class="fas fa-book-reader"></i>My Course</a>

                    </li>
                   {% endif %}
                   
                    <li class="nav-item">
                        
                       
                        <a href="{% url 'instructer' %}" class="nav-link text-dark"> <i class="fas fa-user"></i>View profile</a>
                        
                    </li>
                    
                    
                    <li class="nav-item">
                        <a href= "{% url 'editprofile'%}" class="nav-link text-dark"><i class="far fa-id-card"></i>Edit Profile</a>

                    </li>
                    <li class="nav-item">
                        <a href= "{% url 'sendemail'%}" class="nav-link text-dark"><i class="far fa-envelope"></i>Send Email</a>

                    </li>
                   
                    <li class="nav-item">
                        <a href="{% url 'reset' %}" class="nav-link text-dark"><i class="fas fa-lock"></i>Reset Password</a>

                    </li>
                    
                    
                
                </ul>
                 </div>
                
            </nav>
        </a>
        </div>
        
        
        
        <!--right side menu-->
        <div class="col-md-10 px-0">
            {% block dashboard%}
            {% endblock%}
        </div>

    </div>

</div>
    
{% endif %}
{% endblock%}