{% extends "dashboard.html" %}
{% load static %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto p-4">
            <div class="card shadow ">
                <div class="card-header bg-danger">
                    <h2 class="text-white text-center">Are You Sure Want To Delete??</h2>
                   
                </div>
                <div class="card-body">
                    <img src="/media/{{course.course_image}}" height="200px" width="100%" class="mb-4">
                    <h4 class="pl-3 pb-3">{{course.course_name}}</h4>
                </div>
                   <div class="card-footer">
                    <a href="{% url 'Delete' %}?cid={{course.id}}&&action=confirm" class="btn btn-success">Confirm Delete</a>
                    <a href="{% url 'mycourse' %}" class="btn btn-danger">Cancel</a>
                
                   </div>
            
        </div>
    </div>
</div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/mycourse/"
</script>
{% endif %}

{% endblock %}