
{% extends "dashboard.html" %}
{% load static %}
{% block dashboard %}


<style>
    .bg{
            background: url("{% static 'images/dp.jpg' %}"); background-size: 100% 100%;
        }
        .bg1{
            background: rgba(0,0,0,0.1);
            
            background: url("{% static 'images/dp.jpg' %}"); background-size: 100% 100%; border: solid 2px black;
        }
     
        
        input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="tel"]:focus{
outline: none;                   
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
input[type="password"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}

input[type="email"]:focus{
outline: none;
box-shadow: 0px 0px 5px #00CB54;
border:1px solid #00CB54;
}
.btn-success{
    background-color: #02cc26!important;
    border-color: #02cc26!important;
}
.btn-danger{
    background-color:#fd3635!important ;
    border-color: #fd3635!important;
}
.btn{
    padding:0.625rem 1.25rem;
    transition:.3s;
    font-weight: 500;
    font-family: "Maven Pro", sans-serif;
    line-height: 1.5;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-block;
}
.m-2{
    margin: .5rem!important;
}
.my-5{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mt-4, .my-4{
    margin-top: 1.5rem!important;
}
.align-items-end{
    -webkit-box-align:end!important;
    align-items: flex-end!important;
}
.position-relative{
    position: relative;
}
img{

}
.as-parent{
    width: 100%;
    height:100%;
}
input:not([type=submit]):not([type=checkbox]), select, textarea{
    transition: all .3s;
    font-family: "Work Sans", sans-serif;
}
p{
    line-height: 1.76;
    margin-top: 0;
    margin-bottom: 1rem;
}
a{
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.btn-outline-primary{
    background-color: transparent;
    border-color:#00CB54 ;
    color: #00CB54;
}
.btn-outline-primary:hover{
background-color: #00CB54;
}
.position-absolute{
    position: absolute;
}
.opacity-0{
    opacity: 0;
}
.vt{
    display: inline-block;
}
     
   
</style>

<div class="container-fluid w px-0">
<div class="row text-white bg" style=" padding: 50px 0px;">
    <div class="col-md-4 px-5 ">
         <h1>My Profile</h1> 
         <!-- <p>Home &gt;&gt; Pages &gt;&gt; User &gt;&gt; Instructor Profile</p> -->
        </div>
        </div>
     
     <div class="container-fluid bg1 my-5">
        <div class="row">
          <div class="col-md-4 my-5">
              <div class="card-header text-center" style="color:black;background: white;">
                
                {% if data.profile_pic %}  
                <img src="/media/{{data.profile_pic}}" style="height:150px ;width:150px; 
                border-radius:50%">
                {% else %}
                <img src="{% static 'images/user.jpg' %}" style="height:150px;width:150px ; border-radius:50%">
                 {% endif %}

              <h3 class="card-title text-center" style="margin-top: 20px">{{user.username}}</h3>
<p class="card-text text-center" >{{data.occuption}} </p>
<ul class="list-inline" style="word-spacing: 10px; margin-top: 40px;">
 <li class="list-inline-item"><i style="color: green;margin:auto ;" class="far fa-user"></i>
  <h4>Students</h4>
  <p>147560</p></li>
   <li class="list-inline-item"><i style="color: green;margin:auto ;" class="fas fa-book-open"></i>
    <h4>Courses</h4>
    <p style="margin-left: 30px;">27</p></li>
       <li class="list-inline-item"><i style="color: green;margin:auto ;" class="far fa-star"></i>
        <h4>Reviwes</h4>
        <p>10467</p></li>
        </ul>
           </div>
              <div class="card-body" style="background:white">
                <p>Email Address:</p>
                <h4>{{user.email}}</h4>
                <p>Phone:</p>
                <h4>{{data.contact_number}}</h4>
                <p>Location:</p>
                <h4>{{data.city}}</h4>
   </div>
              <div class="card-footer" style="background: white;">
              <p>Social Profile</p>
              <div style="font-size: 20px;">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="  bg-primary p-2 text-white  rounded-circle btn btn-facebook
                     iconbox iconbox-sm"
           href="http://facebook.com">
        <i class="fab fa-facebook-f"></i>
    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="bg-info p-2 btn btn-twitter rounded-circle text-white iconbox 
                    iconbox-sm hover:info"href="http://twitter.com">
                      <i class="fab fa-twitter-square" ></i>
                  </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn btn-google iconbox p-2 iconbox-sm bg-danger 
                    text-white rounded-circle hover:danger"href="http://google.com">
                      <i class="fab fa-google"></i>
              
                  </a> 
                  </li>
                  <li class="list-inline-item">
                    <a class="bg-primary p-2 btn btn-pinterest iconbox text-white iconbox-sm hover-danger rounded-circle"href="http://pinterest.com">
                      <i class="fab fa-pinterest-p" ></i>
                      </a>
                  
                </ul>
            </div>
              </div>
          </div>
        
            <div class="col-md-6  p-5  bg-light mt-5 mb-5 my-3">
              <div  class="text-center">

              

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row my-3">
                        <label class="col-md-3 col-form-label text-dark">Profile Picture</label>
                        <div class="col-md-9">
                          <input type="file" class="form-control" name="profile_pic">
                        </div>
                      </div>
                       <hr>
                       <h3 class="">
                        Manage your Account
                      </h3>
                     
                      <div class="form-group row my-3 ">
                      
                    
                        
                        <label class="col-md-3">First Name</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="Enter First Name"
                           name="fname" value="{{user.first_name}}">
                        </div>
                      </div>
                      
                      <div class="form-group row ">
                        
                        <label class="col-md-3">Last Name</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" placeholder="Enter Last Name" 
                          name="lname"
                           value="{{user.last_name}}">
                        </div>
                      </div>
                      <div class="form-group row ">
                        <label class="col-md-3 col-form-label text-dark">Email</label>
                        <div class="col-md-9">
                          <input type="email" class="form-control" name="email"
                          placeholder="Enter email" value="{{user.email}}">
                        </div>
                        </div>
                     
                      
                      
                      
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label text-dark">Contact</label>
                        <div class="col-md-9">
                          <input type="text" value="{{data.contact_number}}" name="contact"
                           class="form-control"
                           placeholder="Enter Contact Number" pattern="[0-9]{}" 
                           title="Number must contain 10 digit only">
                        </div>
                      </div> 
                      
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label text-dark">Age(in year )</label>
                        <div class="col-md-9">
                          <input type="number" class="form-control" value="{{data.age}}" 
                          name="age" placeholder="Enter Age" min="10" max="99">
                        </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label text-dark">City</label>
                          <div class="col-md-9">
                            <input type="text" class="form-control" name="city"
                            value="{{data.city}}" placeholder="Enter City">
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label text-dark">Gender</label>
                          <div class="col-md-9">
                            <select name="gender" class="form-control" id="">
                              <option value="Male">Male</option>
                              {% if data.gender == "Female"%}
                              <option value="Female" selected>Female</option>
   
                              {% else %}
                              <option value="Female">Female</option>
                              {% endif %}
                              {% if data.gender == "Others" %}
                              <option value="Others" selected>Others</option>

                              {% else %}
                              <option value="Others">Others</option>
                              {% endif %}

                            </select> 
                        </div>
                        </div><hr>
                        

                      
                      <div class="form-group row">
                        <label class="col-md-3  col-form-label text-dark">Occupation</label>
                        <div class="col-md-9">
                        <input type="text" class="form-control"  value="{{data.Occupation}}"
                         placeholder="Enter Occupation" name="occ">
                      </div> 
                      </div> 
                       
                      
                      <div class="form-group row">
                        <label class="col-md-3  col-form-label text-dark">About</label>
                        <div class="col-md-9">
                        <textarea  class="form-control" 
                         placeholder="Write About yourself"
                         name="about">{{data.about}}</textarea>
                      </div> 
                      </div> 
                      <hr>
                          <h4 class="mb-2 pb-2">
                            Account Type
                          </h4>
                          <p>
                            <span class="badge badge-danger">Free</span>
                          </p><hr>
                          <div class= " form-group mr-5">
                            <input type="submit" name="changeprofile" value="Save Changes" class="btn btn-success m-2" style="width: 50%;border-radius: 5px;">
                            
                        </div>
                         
                    </form>

                       
                      
                    
                    
                    
                   
                 
              
                 
             

            
          </div>
          </div>
          </div>
          </div>
          </div>
        {% if status %}
          <script>
              alert("{{status}}");
          </script>
        {% endif %}    
               
        

{% endblock %}
