{% extends "base.html" %}
{% load static %}
{% block myblock %}
<style>

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-signin {
  width: 100%;
}
.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  color: #28a745;
}
.h5{
    color:green;
}
.text-center{
    text-align: center;
}
.form-signin{
    width: 100%;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: 2%;
}
.card-signin .card-body {
  padding: 2rem;
}
.form-signin {
  width: 100%;
}
.back{
        height: 500px;
        width: 100%;
    } 
    
</style>

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 back">
            <img src="{% static 'images/login.gif' %}" alt="" class="back">
        </div>
        
      <div class="col-md-6 shadow bg-danger mb-3">
        <div class="card card-signin my-5" style=" border: solid yellow 2px;">
          <div class="card-body bg-light">
            <h1 class="card-title text-center text-uppercase text-dark">Login Here</h1>
            <form  action="" method="post" class="form-signin bg-light">
              {% csrf_token %}
              <div class="form-label-group">
                <input type="text" id="user" name="username" 
                class="form-control" placeholder="Username" >
                <label>Username</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <label>Password</label>
              </div>

              <div class="form-group">
                <input type="checkbox" name="remeberme">
                <label for="">Remember password</label>
                <a href="{%  url 'forgotpass' %}" class="text-primary mx-4" style="font-family: sans-serif;
                 color: #00CB54!important;">Forgot Password?</a>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit">
                <a href="http://google.com"><i class="fab fa-google mr-2">
                  
                </i> Sign in with Google</button></a>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">
               <a href="http://facebook.com"> <i class="fab fa-facebook-f mr-2" >

               </i> Sign in with Facebook</button></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  


{% endblock %}