{% extends "dashboard.html" %}
{% load static %}
{% load bootstrap4 %}
{% block dashboard %}
<style>
     .w{
            background: url("{% static 'images/dp.jpg' %}"); background-size: 100% 100%; border: solid 2px black;
        }
        .bg{
            background: url("{% static 'images/drop.jpg' %}"); background-size: 100% 100%; border: solid 2px black;
        }

</style>

<div class="container-fluid w">
    <div class="row">
        <div class="col-md-12 mt-2">
            <h2 class="text-white p-4 text-center bg">Dashboard &gt;My Course ({{courses|length}})</h2>
            <table class="table">
                <thead style="font-weight: bold;color:white;">
                    <tr>
                      <th>Course ID</th>
                       <th>Course Image</th>
                        <th>Course Name</th>
                        <th>Instructer Name</th>
                        <th>Course Action</th>

                    </tr>
                </thead>
            
                <tbody  style="font-weight: bold;color: yellow; ">
                    {% for c in courses %}
                        <tr>
                            <td>{{c.id}}</td>
                            <td><img src="/media/{{c.course_image}}"></td>
                            <td>{{c.course_name}}</td>
                            <td>{{c.instructor.first_name}} </td>
                            <td>
                                <button class="btn btn-success" data-toggle="modal" 
                                data-target="#m{{c.id}}"><i class="fa fa-eye"></i>view</button>
                                <a href="{% url 'update' %}?cid={{c.id}}" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>Edit</a>
                                <a  href="{% url 'Delete' %}?cid={{c.id}}" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
                            </td>
                        </tr>
                        <div class="modal" id="m{{c.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                
                                <div class="modal-header">
                                    <h4>
                                        
                                             Course Details
                                            </h4>
                                    <button class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body shadow shadow-lg" style="">
                                    <img src="/media/{{c.course_image}}" alt="" height="200" width="100%">
                                  <h2>
                                    <a href="{% url 'singal' %}?cid={{c.id}}">{{c.course_name}}</a>
                                </h2>
                                  <p>{{c.course_category.cat_name}}</p>
                                  <p style="font-size: 30px;">
                                      <del>&#8377; {{c.course_price}}</del>
                                      <strong>&#8377; {{c.sale_price}}</strong>
                                  </p>
                                  <p>{{c.course_details}}</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'singal' %}?cid={{c.id}}" class="btn btn-success"> Course Details</a>

                                </div>
                            </div>
                        </div>
                        </div>
                    {% endfor %}    

            
            </tbody>
        </table> 
        </div>
    </div>
</div>
{% endblock %}