{% extends "dashboard.html" %}
{% load static %}
{% block dashboard %}


<style>
    .bg{
            background: url("{% static 'images/dp.jpg' %}"); background-size: 100% 100%; border: solid 2px black;
        }
</style>
<div class="container-fluid " style="background-color: red;">
    <div class="row">
        <div class="col-md-12 bg py-5 text-center text-white">
            <h1>Dashboard &gt; Order History</h1>

        </div>
        <div class="col-md-12">
            {% for i in order_history %}
            <div class="card my-5" style="border: solid 2px blue;">
                <div class="card-header">
                    <strong class="float-left"><h4>Order ID: {{i.order_id}}</h4></strong>
                    <em class="float-right"><h3>Proccesed On:{{i.date}}</h3></em>

                </div>
                <div class="card-body" style="border: solid 2px rgb(212, 0, 255);">
                    <table class="table table-bordered table-hover table-striped" style="border: solid 2px black;">
                        {% for j in i.course %}
                        <tr>
                            <td>
                                <img src="/media/{{j.course_image}}" style="height: 100px; width: 200px;" alt="No Image">
                            </td>
                            <td><h4>{{j.course_name}}</h4></td>
                            <td>&#8377; {{j.sale_price}}</h4></td>
                            <td><a href="{% url 'singal' %}?cid={{j.id}}" target="blank" class="btn btn-success"><i class=" fa fa-eye">View</i></a></h4></td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
                <div class="card-footer">
                    <table class="table">
                        <h2><tr></h2>
                            <th><h4>Invoice ID:</h4><th>
                            <td>{{i.invoice}}</td>
                            <th><h4>STATUS</h4></th>
                            <td>
                                {% if i.status %}
                                <button class="btn btn-success btn-block" style="font-weight:bold"><i class="fa fa-check"></i>Success</button>
                                {% else %}
                                <button class="btn btn-danger btn-block" style="font-weight:bold">&times; Cancelled</button>

                                {% endif %}
                            </td>
                        </tr>

                    </table>

                </div>

            </div>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}
