{% extends "base.html" %}
{% load static %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto my-5 p-5 text-center mt-2" style="box-shadow: 0px 0px 10px red;">
          <img src="{% static 'images/success.gif' %}" height="300" width="300" style="border-radius: 50%;">
          
          <h1 class="alert alert-danger mt-4" style="border: 2px solid yellow; font-weight: bold;">***PAYMENT SUCCESSFULL***</h1> 
          <div class="my-2">
              <a href="{% url 'add_to_cart' %}" class="btn btn-success">Continue Shopping</a>
              <a href="{% url 'student' %}" class="btn btn-warning">Go to Dashboard</a>
          </div>
            {{form.render}}

        </div>

    </div>

</div>
{% endblock %}