{% extends "base.html" %}
{% load static %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto my-5 p-5 text-center mt-2" style="box-shadow: 0px 0px 10px red;">
            <h1 class="text-danger  mb-3" style="border: 2px solid black; font-weight: bold;">Click Here to Continue</h1>
            {{form.render}}

        </div>

    </div>

</div>
{% endblock %}