{% extends "base.html" %}
{% load static %}
{% block myblock %}
<style>
  .e{
    background-color: limegreen; border-radius: 50%; padding: 15px; 
  }
  .f{
    background-color: limegreen; border-radius: 50%; padding: 15px; 
  }
  .g{
    background-color: red; border-radius: 50%; padding: 15px; 
  }
  .h{
    background-color: blueviolet; border-radius: 50%; padding: 15px; 
  }
  .i{
    background-color: orange; border-radius: 50%; padding: 15px; 
  }
  .j{
    background-color: black; border-radius: 50%; padding: 15px; 
  }
  .ab{
    background-color: blue;border-radius: 50%;padding: 5px;
  }
  .cd{
    background-color: rgb(0, 140, 255);border-radius: 50%;padding: 5px;
  }
  .ef{
    background-color: rgb(255, 0, 21);border-radius: 50%;padding: 5px;
  }
  .gh{
    background-color: rgba(0, 0, 255, 0.63);border-radius: 50%;padding: 5px;
  }
  .as{
            -moz-animation-duration: 1s;
            -webkit-animation-duration: 2s;
            -moz-animation-name: slidein;
            -webkit-animation-name: slideout;
            animation-timing-function: linear;
         }
         @-moz-keyframes slidein {
            from {
               margin-left:100%;
               
            }
            to {
               margin-left:0%;
               
            }
         }
         @-webkit-keyframes slideout {
            from {
               margin-left:100%;
               
            }
            to {
               margin-left:0%;
               
            }
         }
  } 
  

</style>
 


  <div class="container-fluid">

<div class="row align-items-left" style="background:url(/static/images/c8.jpg); padding: 30px 0px; 
background-size: 100% 100%;">
  <div class="col-md-6 text-white">
    <h2>About</h2>
  </div>
  <div class="col-md-6 ">
   <ol class="breadcrumb justify-content-md-end  text-white bg-transparent">  
     <li class="breadcrumb-item">
       <a href="{% url 'home' %}" class="text-white">Home</a>
     </li> 
     <li class="breadcrumb-item">
       <a href= "{% url 'all' %}" class="text-white"> Elements</a>
     </li>
     <li class="breadcrumb-item">
       <a href="{% url 'first' %}" class="text-white"> About us</a>

      
     </li>
   </ol>
  </div>
</div>
</div> 






<section class="padding-y-100 border-bottom mt-5">
<div class="container">
<div class="row align-items-center">

   <div class="col-lg-5 mb-4 mr-auto text-center">
       <img class="as" src="{% static 'images/BOY.jpg' %}" alt="">
   </div> 

   <div class="col-lg-6">
       <h2>
           <span class="text-success">Who</span> We Are
       </h2>
       <div class="rounded bg-success mx-2 mt-3" style="width:50px; height:4px;"></div>
       <p class="mt-5">
        We are developing websites which are responsive to every type of devices. we also developing the wedsites application as per the requirements of the user. we softwarewe very easy to use and Modern technology is used any age group persone use our sites becuse these are easy to learing , easy to understaning.</p>
        <p>✔️ Professional and easy to use software</p>
       <p> ✔️ Setup and installations takes 30 seconds</p>
        <p>✔️ Perfect for any device with pixel perfect design</p>
        <p> ✔️ Setup and installations really really fast</p>
      
   </div> <!-- END col-lg-6 ml-auto-->
</div> <!-- END row-->
</div> <!-- END container-->
</section>
<section class="padding-y-100">
<div class="container">
<div class="row align-items-center">
 <div class="col-lg-6">
   <h2>
     <span class="text-success"> What</span> We offer
   </h2>
   <div class="rounded bg-success mt-3 mx-2" style="width:50px; height:4px;"></div>
   <p class="mt-5">
    Python is a fully object oriented language! So we offer a complete online course into the 
    details of OOP.
    </p>
   <div class="media mb-4">
     <i class="fas fa-user text-success  fa-2x mt-2"></i>
     <div class="media-body pl-3">
       <h4 class="h5">Work With Any Team</h4>
       <p>
        The successful candidate will work directly with clients to ensure deliverables fall within the applicable scope and budget. He or she will coordinate with other departments to ensure all aspects of each project are compatible and will hire new talent as needed to fulfill client needs.                </p>
      </p>
     </div>
   </div>
   <div class="media mb-4">
     <i class="fas fa-cloud text-success fa-2x mt-2"></i>
     <div class="media-body pl-3">
       <h4 class="h5">A Productivity Platform</h4>
       <p>
         Productivity tools, platforms and apps have already transformed our private lives: The touch of a button locks doors and smart assistants order our groceries. But recently, developers have recognized that our need for personalized and frictionless experiences extends into the workplace.                </p>
</p>
     </div>
   </div>
 </div> <!-- END col-lg-6 ml-auto-->
 <div class="col-lg-5 mb-4 mr-auto text-center">
   <img class="in-left" src="{% static 'images/room.jpg' %}" alt="">
 </div> 
</div> <!-- END row-->
</div> <!-- END container-->
</section>

<section class="padding-y-100 bg-light">
 <div class="container p-5 py-5 mx-auto">
   <div class="row align-items-center">
     <div class="col-12 text-center">
       <h2>
        Unique Features
       </h2>
       <div class="rounded bg-success mx-auto" style="width:50px; height:4px;"></div>
     </div>
     <div class="col-lg-4 col-md-6 mt-1 py-5 ">
      <div class="card height-100p text-center text-dark p-5 shadow shadow-lg">
       <span class=" e mx-auto">
          <i class="fas fa-infinity  fa-lg text-white"></i>
        </span>
         <h4 class="my-4 text-dark">
           Excellent Features
         </h4>
         <p>
          Python supports both procedure-oriented and object-oriented programming which is one of
           the key python features. It also supports multiple inheritances, unlike Java. 
           
        </p>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 mt-1 py-5 ">
      <div class="card height-100p text-center p-5 shadow shadow-lg">
       <span class="f mx-auto ">
          <i class="fas fa-cloud text-white fa-lg"></i>
        </span>
         <h4 class="my-4 text-dark">
           Creative Ideas
         </h4>
         <p>
          Understand programming concepts better: You will learn to write code better and understand concepts such as design patterns and object-oriented programming.
        </p>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 mt-1 py-5 ">
      <div class="card height-100p text-center p-5 shadow shadow-lg">
       <span class=" g  mx-auto">
          <i class="fas fa-globe text-white fa-lg"></i>
        </span>
         <h4 class="my-4 text-dark">
           Clean Code
         </h4>
         <p>
           We will discuss some general code cleaning guidelines that aren't exclusively applicable to Python, including naming conventions and programming ...
        </p>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 mt-1 py-5 ">
      <div class="card height-100p text-center p-5 shadow shadow-lg">
       <span class=" h  mx-auto">
          <i class="far fa-bell text-white fa-lg"></i>
        </span>
         <h4 class="my-4 text-dark">
           Fully Responsive

         </h4>
         <p>
           Responsive web design makes your web page look good on all devices. ... reviewed to avoid errors, but we cannot warrant full correctness of all content.
        </p>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 mt-1 py-5 ">
      <div class="card height-100p text-center p-5 shadow shadow-lg">
       <span class=" i  mx-auto">
          <i class="fas fa-shopping-bag  text-white fa-lg"></i>
        </span>
         <h4 class="my-4 text-dark">
           Modern Design
         </h4>
         <p>
This website providing Moderen design to user.These are changeing there font style automticaly in your system that gives the modern style look to the website.
        </p>
      </div>
     </div>
     <div class="col-lg-4 col-md-6 mt-1 py-5 ">
      <div class="card height-100p text-center p-5 shadow shadow-lg">
       <span class=" j mx-auto">
          <i class="far fa-file text-white fa-lg"></i>
        </span>
         <h4 class="my-4 text-dark">Extensive Documentation</h4>
         <p>
          The Python interpreter and the extensive standard library are freely available in This tutorial
          that comprehensive and cover every single ...
          ‎</p>
      </div>
     </div>

    
           


   </div> <!-- END row-->
 </div> <!-- END container-->
</section>




<section class="padding-y-100 wow fadeIn">
<div class="container">
<div class="row">
 <div class="col-12 text-center mb-4">
   <h2>
    Our Team
   </h2>
   <div class="rounded bg-primary mx-auto" style="width:50px; height:4px;"></div>
 </div>

 <div class="col-lg-6 mt-2 wow fadeInUp">
   <div class="row">
     <div class="col-md-6 my-2">
       <img src="{% static 'images/si.jpg' %}" style="height: 250px; width: 270px;">
     </div>
     <div class="col-md-6 my-4">
       <h4 class="mb-0">
           Simarjit
       </h4>
       <p class="text-muted mb-0">
           Founder & CEO
       </p>
       <p class="my-4">
The CEO of the company.she creating many softwares and websites,also working for digital projects.       </p> <ul class="list-inline">
           
<li class="list-inline-item">
<a href="http://facebook.com" class="btn btn-facebook  text-primary ab">
  <i class="fab fa-facebook-f  text-white fa-lg "></i></a>
</li>
           <li class="list-inline-item">
               <a href="http://twitter.com" class="btn btn-twitter iconbox iconbox-xs text-dark cd  ">
                 <i class="fab fa-twitter text-white  fa-lg"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="http://google.com" class="btn btn-google-plus iconbox iconbox-xs text-danger ef">
                 <i class="fab fa-google text-white fa-lg"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="http://pinterest.com" class="btn btn-linkedin iconbox iconbox-xs text-info gh">
                 <i class="fab fa-pinterest-p text-white fa-lg"></i></a>
           </li>
       
      
   </ul>

                   
     </div>
   </div>
 </div>

 <div class="col-lg-6 mt-2 wow fadeInUp">
   <div class="row">
     <div class="col-md-6 my-2">
       <img src="{% static 'images/se.png' %}"style="height: 260px; width: 270px;">
     </div>
     <div class="col-md-6 my-4">
       <h4 class="mb-0">
           Harpreet
       </h4>
       <p class="text-muted mb-0">
           Senior Developer
       </p>
       <p class="my-4">
She is manageing all the work of developing teams.Best websites and software are developing bye this team.       </p>
       <ul class="list-inline">
           
               <li class="list-inline-item">
                 <a href="http://facebook.com" class="btn btn-facebok ab"><i class="fab fa-facebook-f  text-white fa-lg"></i></a>
               </li>
               <li class="list-inline-item">
                   <a href="http://twitter.com" class="btn btn-twitter cd"><i class=" text-white fab fa-twitter fa-lg"></i></a>
               </li>
               <li class="list-inline-item">
                   <a href="http://google.com" class="btn btn-google-plus  ef"><i class=" text-white fab fa-google fa-lg"></i></a>
               </li>
               <li class="list-inline-item">
                   <a href="http://pinterest.com" class="btn btn-linkedin gh"><i class=" text-white 
                    fab fa-pinterest-p fa-lg"></i></a>
               </li>
           
          
       </ul>
     </div>
   </div>
 </div>

 <div class="col-lg-6 mt-2 wow fadeInUp">
   <div class="row">
     <div class="col-md-6 my-2">
       <img src="{% static 'images/6.jpg' %}"style="height: 260px; width: 270px;">
     </div>
     <div class="col-md-6 my-4">
       <h4 class="mb-0">
           Happy Verma
       </h4>
       <p class="text-muted mb-0">
           Designer
       </p>
       <p class="my-4">
        Software design is a process to transform user requirements into some suitable form, which helps the programmer in software coding and implementation.         </p><ul class="list-inline">
           <li class="list-inline-item">
             <a href="http://facebook.com" class="btn btn-facebook   ab"><i class="fab fa-facebook-f text-white fa-lg"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="http://twitter.com" class="btn btn-twitter cd"><i class="fab fa-twitter text-white fa-lg"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="http://google.com" class="btn btn-google-plus  ef"><i class="fab fa-google fa-lg text-white"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="http://pinterest.com" class="btn btn-linkedin  gh"><i class=" text-white 
                fab fa-pinterest-p fa-lg"></i></a>
           </li>
       </ul>
                     </div>
   </div>
 </div>

 <div class="col-lg-6 mt-2 ">
   <div class="row">
     <div class="col-md-6 my-2">
       <img src="{% static 'images/c.jpg' %}"style="height: 260px; width: 270px;">
     </div>
     <div class="col-md-6 my-4">
       <h4 class="mb-0">
           Peter Spenser
       </h4>
       <p class="text-muted mb-0">
           Creative Developer
       </p>
       <p class="my-4">
        A creative developer has a unique role, being responsible for taking an idea and making it
         into a quality final product.       <ul class="list-inline">
           <li class="list-inline-item">
             <a href="http://facebook.com" class="btn btn-facebook  ab"><i class="fab fa-facebook-f  text-white fa-lg"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="http://twitter.com" class="btn btn-twitter cd "><i class=" text-white fab fa-twitter fa-lg"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="http://google.com" class="btn btn-google-plus  ef"><i class=" text-white fab fa-google fa-lg"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="http://pinterest.com" class="btn btn-linkedin  gh"><i class="fab fa-pinterest-p text-white fa-lg"></i></a>
           </li>
       </ul>
     </div>
     
   </div>
 </div>
 </div> <!-- END row-->
</div> <!-- END container-->
</section>





<section class="padding-y-100 bg-light">
<div class="container">
   <div class="row">			
   <div class="col-12 text-center mt-5">
       <h2 class="h1">
           Why We are the <span class="text-success">Best</span>
           <div class="rounded bg-success mx-auto mt-3" style="width:50px; height:4px;"></div>
       </h2>
   </div>
       <div class="col-lg-6 mt-4 pr-lg-5">
           <p class="mb-4">
            Python is a good choice for rapid development of web applications. With many frameworks
             like Django, Pyramid, and Flask, Python allows you to build web apps with great speed. 
             hon is used on the server-side of web development, you can use Python to interact with the
              database and build Rest API services.                                 </p>
</p>
           <p class="list-unstyled list-style-icon list-icon-check-circle">
               <li>
                   Listen to Social Conversations
               </li>
               <li>
                   Performance Analyze
               </li>
               <li>
                   A Productivity Platform
               </li>
               <li>
                   Work With Any Team
               </li>
           </p>
       </div> <!-- END col-lg-6-->
       <div class="col-md-6 mt-4">
         <div class="mb-4">
            <div class="d-flex justify-content-between">
             <p>HTML &amp; CSS</p>
             <p>90%</p>
            </div>
<div class="progress" style="height:4px"> <div class="progress-bar bg-primary" style="width:90%" role="progressbar" aria-valuenow="90" aria-valuemin="90" aria-valuemax="100"></div>
           </div>
         </div>

         <div class="mb-4">
            <div class="d-flex justify-content-between">
             <p>React angular</p>
             <p>75%</p>
            </div>
           <div class="progress" style="height:4px">
<div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
           </div>
         </div>

         <div class="mb-4">
            <div class="d-flex justify-content-between">
             <p>PHP</p>
             <p>80%</p>
            </div>
           <div class="progress mb-4" style="height:4px">
<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
           </div>
         </div>

         <div class="mb-4">
            <div class="d-flex justify-content-between">
             <p>Laravel</p>
             <p>75%</p>
            </div>
           <div class="progress mb-4" style="height:4px">
             <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
           </div>
         </div>    
       </div>
   </div> <!-- END row-->
</div> <!-- END container-->
</section>



<div class="container-fluid bg-success">
<div class="row bg-white">


<div class="col-md-12  mb-5 text-center text-black">
  <h2 class="mt-4">What Our People Say
  </h2>
  <div class="rounded bg-primary mx-auto" style="width:50px; height:4px;">
  </div>
</div>
<div class="col-md-6  mx-auto text-center" style="width:690px; padding-bottom: 150px;">
  <div class="carousel slide" data-ride="carousel" id="caro">
       <!-- <ul class="carousel-indicators"> 
          <li data-target="caro" data-slide-to="0" class="active"></li>
          <li data-target="caro" data-slide-to="1"></li>
          <li data-target="caro" data-slide-to="2"></li>
       </ul>  -->
     <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/r2.jpg' %}" height="90px" width="90px" style="border-radius:50% "; alt="">
            <h4 class="mt-4 font-primary">pooja</h4>
            <p class="mt-4" style="font-size:large">student</p>
            <p class=" " style="text-align:center;font-size:x-large ">
              I've been out of college for about two years, poineer python has changed my outlook on my career. Taking the foundational courses in marketing has helped me launch my career.they teach me daily new things about the web development.the teaching is very good for those go away from home and i recognise poineer python for those student who learn online

</div>
        <div class="carousel-item">
         <img class="mx-3" src="{% static 'images/doll.jpg' %}" height="90px" width="90px" style="border-radius:50% "; alt="">
         <h4 class="mt-4 font-primary">simar</h4>
         <p class="mt-4" style="font-size:large">student</p>
         <p class=" " style="text-align:center;font-size:x-large">
          I've been out of college for about two years, poineer python has changed my outlook on my career. Taking the foundational courses in marketing has helped me launch my career.they teach me daily new things about the web development.the teaching is very good for those go away from home and i recognise poineer python for those student who learn online

</div>
        <div class="carousel-item">
         <img src="{% static 'images/beautiful.jpg' %}" height="90px" width="90px" style="border-radius:50% "; alt="">
         <h4 class="mt-4 font-primary">jyoti</h4>
         <p class="mt-4" style="font-size:large">student</p>
         <p class=" " style="text-align:center;font-size:x-large ">
          I've been out of college for about two years, poineer python has changed my outlook on my career. Taking the foundational courses in marketing has helped me launch my career.they teach me daily new things about the web development.the teaching is very good for those go away from home and i recognise poineer python for those student who learn online

</div>
      </div>
 </div>
</div>
</div>
</div>  

<!-- END col-12 -->
  <!-- END row--> 
 <!-- END container-->
 <!-- END container-->

{% endblock %}