{% extends "base.html" %}
{% load static %}

{% block myblock %}

<style>
     .axz{
            display: inline-block;
            margin: 5px;
        }
        .sha{
            box-shadow: black;
        }
        .h{
            text-align: center;
        }
        .b1{
            
            margin-top: 10px;
            
        }
        .p1{
            text-align: center;
            margin-top: 50px;

        }


</style>
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-6 mt-5 mx-auto">
            <img src="{% static 'images/sign.png' %} " style="height: 550px;width: 100%; margin-top: 40px;">
            <!-- <div class="carousel slide" data-ride="carousel" id="myslider">
                <ul class="carousel-indicators">
                    <li data-target="#myslider" data-slide-to="1" ></li>
                    <li data-target="#myslider" data-slide-to="2"></li>
                    <li data-target="#myslider" data-slide-to="3"></li>
                    <li data-target="#myslider" data-slide-to="4"></li>
                    <li data-target="#myslider" data-slide-to="5"></li>
                    <li data-target="#myslider" data-slide-to="6"></li>
                    
                </ul>
                <div class="carousel-inner">
                    
                        <div class="carousel-item active">

                        </div>
                    <div class="carousel-item">
                     <img src="{% static 'images/register.jpg'%}" height="900" width="100%">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/2.jpg'%}" height="900" width="100%">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/p2.jpg'%}" height="900" width="100%">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/lap.jpg'%}" height="900" width="100%">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/reg.jpg'%}" height="900" width="100%">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/m.jpg'%}" height="900" width="100%">
                    </div>
                   
                </div>
                </div> -->
        </div>
    


        <div class="col-md-6 sha bg-light">
            <div class="form-group">
                <h2 class="h text-success ">Sign Up Here And Start Learning!</h2>
                <hr>
                <button class="btn btn-primary b1 btn-block "><a>
                   <a href="http://facebook.com"> <i class="fab fa-facebook-square mr-1"></i>Sign In With Facebook</button></a>
                <button class="btn btn-warning b1 btn-block">
                  <a href="http://google.com">  <i class="fab fa-google-plus-square mr-1"></i>Sign In With Google</button></a>
                <p class="p1">OR</p>
            </div>
           <div class="modal-body">
               <form  action="" method="post">
                {% csrf_token %}
                
                

                   <div class="form-group axz ">
                    <label for="">First Name</label>
                   <div class="input-group">
                      
                       <input type="text" class="form-control" placeholder="Enter Your First Name" 
                       name="first" >

                   </div>
                </div>
                

                <div class="form-group axz ">
                    <label for="">Last Name</label>
                   <div class="input-group">
                      
                       <input type="text" class="form-control" placeholder="Enter Your Last Name" 
                       name="last">

                   </div>
                </div>
                
                <div class="form-group">
                    <small id="result"></small>

                </div>
               
                <div class="form-group ">
                    <label for="">Enter Your Username</label>
                   <div class="input-group">
                      
                       <input type="text" class="form-control" placeholder="Enter Your User name" 
                       name="myuser" id="username" onkeyup="checkuser()" required >

                   </div>
                </div>
               
                <div class="form-group ">
                    <label for="">Enter Your E-mail</label>
                   <div class="input-group">
                      
                       <input type="text" class="form-control" placeholder="Enter Your E-mail Here" 
                       name="email">

                   </div>
                </div>
                <div class="form-group ">
                    <label for="">Contact No.</label>
                   <div class="input-group">
                      
                       <input type="text" class="form-control" placeholder="Enter Your Mobile No." 
                       name="contact">

                   </div>
                </div>
                <div class="form-group ">
                    <label for="">Password</label>
                    
                      <div class="input-group">
                       <input type="password" class="form-control" 
                        placeholder="Enter Your Password" 
                       name="password1" id="ram">
                       <div class="input-group-append"><button type="button" onclick="abcd()">
                        <i class="fas fa-eye"></i></button>

                   </div>
                </div>
                </div>
            
                <div class="form-group ">
                    <label for="">Confirm Password</label>
                   
                    <div class="input-group">
                        <input type="password" name=password2 placeholder="Please Re-Enter Your Password Here" 
                        name="password2" class="form-control" id="sram"> 
                        <div class="input-group-append"><button type="button" onclick="dcba()">
                            <i class="fas fa-eye"></i></button></div>
                    </div> 
                    <div class="form-group mt-3">
                        <select name="utype" id="" class="form-control">
                            <option value="student">Student</option>
                            <option value="teacher">instructer</option>

                        </select>
                        
                    </div>
                    
                </div>
                <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-success" id="submitbtn">
                </div>
               </form>

           

        </div>

    </div>

</div>
</div>



<script>
    function checkuser(){
        let un = document.getElementById("username").value;
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{usern:un},
            success:function(data){
                if(data=="Exists"){    
                    $("#result").html("This username already taken").addClass("text-danger");
                    $("#username").addClass("bg-danger");
                    $("#submitbtn").alert("disabled","disabled");
                }else{
                    $("#result").html("");
                    $("#username").removeClass("alert alert-danger")
                    $("#submitbtn").removeAttr("disabled");


                }
            }

            
        })
        
    }



<script>
    function abcd(){
        v=document.getElementById("ram").type
        if(v=="password"){
        document.getElementById("ram").type="text"
        }
        else{
            document.getElementById("ram").type="password"
        }
    }
    
</script>
<script>
    function dcba(){
        v=document.getElementById("sram").type
        
        if(v=="password"){
        document.getElementById("sram").type="text"
       
        }
        else{
            document.getElementById("sram").type="password"
            
        }
    }
    
</script>
</script>
<script>
     function checkPassword(form) { 
            password1 = form.password1.value; 
            password2 = form.password2.value; 

             
            if (password1 == '') 
                alert ("Please enter Password"); 
                  
            
            else if (password2 == '') 
                alert ("Please enter confirm password"); 
                  
       
            else if (password1 != password2) { 
                alert ("\nPassword did not match: Please try again...") 
                return false; 
            } 

            
            else{ 
                alert("Password Match: Welcome to Our Site!") 
                return true; 
            } 
        } 

</script>
<script>
                function checkuser(){
                    let un = document.getElementById("username").value;
                    $.ajax({
                        url:"{% url 'check_user' %}",
                        type:"get",
                        data:{usern:un},
                        success:function(data){
                            if(data=="Exists"){
                                $("#result").html("This username is already taken").addClass("text-danger");
                                $("#username").addClass("alert alert-danger");
                                $("#submitbtn").attr("disabled","disabled");
                            }else{
                                $("#result").html("");
                                $("#username").removeClass("alert alert-danger")
                                $("#submitbtn").removeAttr("disabled");
                            }
                        }
                    })
                    
                }
            </script>

{% if status %}
<script>
    alert("{{status}}");
</script>


{% endif %}

{% endblock %}