{% extends "base.html" %}
{% load static %}

{% block myblock %}

<style>
     .axz{
            display: inline-block;
            margin: 5px;
        }
        .sha{
            box-shadow: black;
        }
        .h{
            text-align: center;
        }
        .b1{
            
            margin-top: 10px;
            
        }
        .p1{
            text-align: center;
            margin-top: 50px;

        }
        .nmp{
            color: green;
            font-size: 30px;
            }
            .pnm{
            display: inline-block;
            font-family: cursive;
        }
        .sha{
            box-shadow: black;
        }
        .input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/ Style the form icons /

/ Style the input fields /
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/ Set a style for the submit button /


</style>
<div class="container-fluid">
    <div class="row">
        
        
            <div class="col-md-6 my-1" id="myCarousel" class="carousel slide" data-ride="carousel">

                <img src="{% static 'images/regi3.gif'%}" class="ig " style="padding: 5px;
                
                color: white;
                min-width: 50px;
                text-align: center;
                width: 500px;">
                <img src="{% static 'images/login.gif'%}" class="ig m-5 p-5" style="height: 50%;">
                <img src="{% static 'images/u.gif'%}" style="height: 20%;width: 100%;">
                
                
        </div>


        <div class="col-md-6 sha bg-light my-1">
            <div class="form-group">
                <h2 class="h">Sign Up Here And Start Learning!</h2>
                <hr>
                <button class="btn btn-primary b1 btn-block "><i class="fab fa-facebook-square mr-1"></i>Sign In With Facebook</button>
                <button class="btn btn-danger b1 btn-block"><i class="fab fa-google-plus-square mr-1"></i>Sign In With Google</button>
                <p class="p1">OR</p>
            </div>
            {% if status %}
            <script>
                alert("{{status}}");
            </script>
            {% endif %}
           <div class="modal-body">
               <form   method="POST">
                {% csrf_token %}
                

                   <div class="form-group  ">
                    <label for="">First Name</label>
                   <div class="input-group">
                    <i class="fas fa-user-tie" style="padding: 5px;
                    background: dodgerblue;
                    color: white;
                    min-width: 50px;
                    text-align: center;"></i>
                       <input type="text" class="form-control" placeholder="Enter Your First Name" name="first" >

                   </div>
                </div>
                

                <div class="form-group  ">
                    <label for="">Last Name</label>
                   <div class="input-group">
                      
                       <input type="text" class="form-control" placeholder="Enter Your Last Name" 
                       name="last">

                   </div>
                </div>
                <div class="form-group">
                    <small id="result"></small>

                </div>
               
                <div class="form-group ">
                    <label for="">Enter Your Username</label>
                   <div class="input-group">
                    <i class="fa fa-user icon" style="padding: 5px;
                    background: dodgerblue;
                    color: white;
                    min-width: 50px;
                    text-align: center;"></i>
                       <input type="text" class="form-control" placeholder="Enter Your User name" name="myuser" id="username" onkeyup="checkuser()" >

                   </div>
                </div>
               
                <div class="form-group ">
                    <label for="">Enter Your E-mail</label>
                   <div class="input-group">
                    <i class="fa fa-envelope icon" style="padding: 5px;
                    background: dodgerblue;
                    color: white;
                    min-width: 50px;
                    text-align: center;"></i>
                       <input type="text" class="form-control" placeholder="Enter Your E-mail Here" name="email">

                   </div>
                </div>
                <div class="form-group ">
                    <label for="">Contact No.</label>
                   <div class="input-group">
                    <i class="fas fa-phone-square-alt" style="padding: 5px;
                    background: dodgerblue;
                    color: white;
                    min-width: 50px;
                    text-align: center;"></i>
                       <input type="text" class="form-control" placeholder="Enter Your Mobile No." name="contact" title="Number must contain 10 digit only"  pattern="[0-9]{10}">

                   </div>
                </div>
                <div class="form-group ">
                    <label for="">Password</label>
                    
                      <div class="input-group">
                        <i class="fa fa-key icon"  style="padding: 5px;
                        background: dodgerblue;
                        color: white;
                        min-width: 50px;
                        text-align: center;"></i>
                       <input type="password" name=password1 class="form-control"  
                       placeholder="Enter Your Password" name="password1" id="ram">
                       <div class="input-group-append"><button type="button"
                         onclick="abcd()"><i class="fas fa-eye"></i></button>

                   </div>
                </div>
                </div>
            
                <div class="form-group ">
                    <label for="">Confirm Password</label>
                   
                    <div class="input-group">
                        <i class="fa fa-key icon" style="padding: 5px;
                        background: dodgerblue;
                        color: white;
                        min-width: 50px;
                        text-align: center;"></i>
                        <input type="password" name=password2  id="sam" placeholder="Please Re-Enter Your Password Here"
                          class="form-control" > <div class="input-group-append"><button type="button"
                             onclick="abc()"><i class="fas fa-eye"></i></button></div>
                    </div> 
                    <div class="form-group mt-3 pb-4">
                        <select name="utype" id="" class="form-control">               
                            <option value="fmle">Teacher</option>
                            <option value="mle">Student</option>
                            
                            

                        </select>
                        
                    </div>
                    
                </div>
                <button class="btn btn-success" id="submitbtn">Create Account</button>
                </form>
                <hr class="my-2">
                <h2 class="pnm ">If You Have an Account?</h2> <a class="nmp " href="{% url 'login' %}">
                     <button class="btn btn-primary mx-3   ">Sign In</button></a>
               
           </div>

        </div>

    </div>

</div>
<script>
    function abcd(){
        v=document.getElementById("ram").type
        if(v=="password"){
        document.getElementById("ram").type="text"
        }
        else{
            document.getElementById("ram").type="password"
        }
    }
    
</script>
<script>
    function abc(){
        v=document.getElementById("sam").type
        
        if(v=="password"){
        document.getElementById("sam").type="text"
       
        }
        else{
            document.getElementById("sam").type="password"
            
        }
    }
    
</script>

<script>
     function checkPassword(form) { 
            password1 = form.password1.value; 
            password2 = form.password2.value; 

             
            if (password1 == '') 
                alert ("Please enter Password"); 
                  
            
            else if (password2 == '') 
                alert ("Please enter confirm password"); 
                  
       
            else if (password1 != password2) { 
                alert ("\nPassword did not match: Please try again...") 
                return false; 
            } 

            
            else{ 
                alert("Password Match: Welcome to Our Site!") 
                return true; 
            } 
        } 

</script>
<script>
    function checkuser(){
        let un = document.getElementById("username").value;
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{usern:un},
            success:function(data){
                if(data =="Exists"){
                    $("#result").html("this username already taken").addClass("text-danger");
                    $("username").addClass(" alert-danger");
                    $("#submitbtn").attr("disabled","disabled");
                }else{
                    $("#result").html("");
                    $("username").removeClass(" alert-danger")
                    $("#submitbtn").removeAttr("disabled")

                }
                

                

                
                }

                


            
        })
           
    }
</script>
{% endblock %}