{% extends "dashboard.html" %}
{% load static %}
{% block dashboard %}
<style>
    
        .bg
            {
          background: url("{% static 'images/fl.jpg' %}");
          background-size: 100% 100%;
          color:white;
          font-size: large;
                
          
     
            
            
        }
    
</style>
<div class="container-fluid bg ">
    <div class="row">
        <div class="col-md-5  bg-white mx-auto shadow shadow-lg  my-5">
            <form action="" method="post"">
                {% csrf_token %}    
                    <h2 class="text-center text-dark ">Get Your Password</h2><hr>
                    {% if msz %}
                    <div class="alert {{col}}">
                        {{msz}}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label>Current Password</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        
                        <input type="password" placeholder="Old Password"
                        class="form-control shadow shadow-lg p-4" name="cpwd" required>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label> New Password</label>
                        <div class="input-group">
                            <div class="input-group-append"><button type="button" onclick="abc()">
                                <i class="fas fa-eye"></i></button>
        
                           </div>
                        
                        <input type="password" placeholder="New Password"
                        class="form-control shadow shadow-lg p-4" required name="npwd" id="pas" onkeyup="check_pass()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <div class="input-group">
                            <div class="input-group-append"><button type="button" onclick="abcd()">
                                <i class="fas fa-eye"></i></button>
        
                           </div>
                        
                        <input type="password" placeholder="confirm Password"
                        class="form-control shadow shadow-lg p-4" required id="cpas" onkeyup="check_pass()">
                        </div>
                    </div>
                    
                    <div class="form-group">
                       <input type="submit" class="btn btn-success shadow shadow-lg p-2 mt-3 " value="Change Password" id="sbbtn">
                    </div>                
                </form>
        </div>
    </div>
</div>
<script>
    function check_pass(){
        let p = $("#pas").val();
        let cp = $("#cpas").val();
        if (p==cp){
            $("#pas").css("border","1px solid green");
            $("#cpas").css("border","1px solid green");
            //$("#pas").removeClass("alert alert-danger").addClass("alert alert-success");
            //$("#cpas").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#sbbtn").removeAttr("disabled");


        }else{
            $("#pas").css("border","1px solid red");
            $("#cpas").css("border","1px solid red");
            //$("#pas").removeClass("alert alert-success").addClass("alert alert-danger");
            //$("#cpas").removeClass("alert alert-success").addClass("alert alert-danger");

            $("#sbbtn").attr("disabled","disabled");
        }

    }
</script>
<script>
    function abc(){
        v=document.getElementById("pas").type
        if(v=="password"){
        document.getElementById("pas").type="text"
        }
        else{
            document.getElementById("pas").type="password"
        }
    }
    
</script>
<script>
    function abcd(){
        v=document.getElementById("cpas").type
        
        if(v=="password"){
        document.getElementById("cpas").type="text"
       
        }
        else{
            document.getElementById("cpas").type="password"
            
        }
    }
    
</script>

{% endblock %}