{% extends "dashboard.html" %}
{% load static %}
{% block dashboard %}
<style>
     .bg
        {
          background: url("{% static 'images/fl.jpg' %}");
          background-size: 100% 100%;
          color:black;
          
         } 
         form{
             border: solid rgb(255, 0, 179) 2px;
              box-shadow: 0px 0px 10px black;
         }
</style>
<div class="container-fluid bg  px-0">
    <div class="row">
        <div class="col-md-12 px-0 text-center text-light " >
            <h1 style="border: solid rgb(255, 0, 179) 2px; width: 50%; text-align: center; box-shadow: 0px 0px 10px black;"class="mx-auto py-3 mt-5" >Dashboard &gt; Send Email</h1>
        </div>
        <div class="col-md-6 p-3 mx-auto bg-light my-3 shadow shadow-lg">
            {% if status %}
            <div class="alert {{cls}}">{{status}}</div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">To</label>
                    <input type="text" class="form-control" placeholder="To" name="to">
                </div>
                <div class="form-group">
                    <label for="">Subject</label>
                    <input type="text" class="form-control" placeholder="Subject" name="sub">
                </div>
                <div class="form-group">
                    <label for="">Message</label>
                    <textarea name="msz" id="" placeholder="Enter Email" class="form-control" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send Email" class="btn btn-outline-success rounded-pill">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}